
{{#each reports as |report|}}
 <section class="report-window" data-id="{{report._id}}">
   <h3>
     {{report.species}}
   </h3>
   <div class="report-potency">
   Bite Potency 1-10 : {{report.potency}}
   </div>
   <div class="report-med-sig">
   Do You Have To Go To The Hospital?
   {{#if report.medicallySignificant}}
   Yes!
   {{else}}
   No!
   {{/if}}
   </div>
   <div class="card card-body reports-index-info">
   <p>Bite Info:</p>
   {{report.info}}
   </div>
   <button class="btn btn-danger delete-report">delete</button>
   <a href="#" class="btn btn-success show-one-report">Show This Report</a>
 </section>
{{/each}}
