
{{log report}}
 <section id ="report-window" class="report-window" data-id="{{report._id}}">
   <h3>
     {{report.species}}
   </h3>
   <div class="report-potency">
   Bite Potency 1-10 : {{report.potency}}
   </div>
   <div class="report-med-sig">
   Do You Have To Go To The Hospital?
   {{#if report.medicallySignificant}}
   Yes!
   {{else}}
   No!
   {{/if}}
   </div>
   <div class="reports-index-info">
   <p>Bite Info:</p>
   {{report.info}}
   <form id="edit-form"><textarea name="info" class="bite-edit-box" rows="2" cols="20">{{report.info}}</textarea><button type="submit" class="btn btn-warning update-report">Update Info</button></form>
   </div>
   <button class="btn btn-warning edit-report-button">Edit</button>
 </section>
